/* :host {
    background-color: red;
    background-image:url(../../assets/img/Background.jpg);
    background-repeat:no-repeat;
    background-size:100%;

} */

.example-form {
  min-width:  10%;
  max-width: 90%;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline , .mat-form-field-should-float.ng-untouched mat-label{
  color:black;
}


div.outer{
  position: absolute;
  background-color: whitesmoke;

}
/* .inner{
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
} */
.mat-form-field-appearance-outline .mat-form-field-outline{
  color: green;
}
